# swap files
*~
.DS_Store
+*#
.#*
*.swp
._*

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
classes
*.class

# generated GUI files
*R.java

# idea stuff
.idea

local.properties
